<ion-view title=ת">
     <ion-header-bar class="bar-balanced bar-header" align-title="center" >
          <h1 class="title">מחוות במקום כפתורים</h1>
        </ion-header-bar>
     <ion-header-bar class="bar-light bar-subheader" align-title="center">
          <h4 class="title">תדריך קצר</h4>
        </ion-header-bar>
       <ion-content class="fullHeight" align="center">
            <p align="center"> החלקה ימינה מחזירה למסך הקודם</p>
            <p align="center"> החלקה שמאלה ממסך פרטי מוצר מעבירה לסרוקבק </p>
            <p align="center"> החלקה שמאלה ממסך הודעות מעבירה למסך סריקה</p>
            <p align="center"> לחיצה על הודעה שהיא לינק תפתח דפדפן</p>
            <p align="center"> החלקה למעלה ממסך סריקה תעביר למסך חיפוש</p>

            <p>&nbsp;</p>
            <p align="center"> חדש!! החלקה למטה ממסך סריקה תפתח מסך פידבק</p>
            <p>&nbsp;</p>

            <p align="center"><button class="button button-balanced" ng-click="showAgain()">תזכיר לי שוב</button></p>
            <p align="center"><button class="button button-balanced" ng-click="lastTime()">יאללה הבנתי</button></p>
       </ion-content>
      </ion-view>
    