<ion-view class="background" on-swipe-right="onSwipeRight()" on-swipe-up="onSwipeUp()">
<!--	<p>Hello World, how are you? <a href="#/page2">Go to Page 2</a></p>-->
<div/>
    <div class="button button-block container" on-tap="Scan()">
        <img src="img/scan_button.png" width="250" height="200">
    </div>
<!--    <div class="container circle animated bounceInRight" ng-click="Scan()"></div>-->
    <div/>
    <!-- <div class="smallcontainer smallcircle" ng-click="back()"></div>
<!--    <div class="container circle animated bounceInRight" ng-click="Scan()"></div>-->
<!--    <div/>
</ion-view>
