<ion-content class="green" on-swipe-down="onSwipeDown()">
    <div class="chatContainer">
        <div ng-repeat="message in messages">
            <div class="bubble" ng-click="go(message)">
               <p> {{ message }} </p>
            </div>
        </div>
    </div>
</ion-content>
 <ion-footer-bar class="bar-stable item-input-inset message-footer">
        <label class="item-input-wrapper">
            <textarea ng-model="input.message" value="" placeholder="הוסף הודעה" required minlength="1" maxlength="1500" msd-elastic></textarea>
        </label>
        <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-android-send footer-btn"
            ng-disabled="!input.message || input.message === ''" ng-click="addMessage(input.message)">
        </button>
        </div>
    </ion-footer-bar>