h1 {
    text-align: center;
}

.background {
    background-image: url("../img/background.png");
    background-size: cover; 
    background-position: center; 
    margin: auto; 
    z-index: 2; 
}

.green2 {
    background-color: #00cc00; 
}

.green {
    background-color: #8ac760; 
}

.circle {
	border-radius: 50%;
	width: 300px;
	height: 300px; 
	/* width and height can be anything, as long as they're equal */
}
.smallcircle {
	border-radius: 50%;
	width: 300px;
	height: 300px; 
	/* width and height can be anything, as long as they're equal */
     background-color: #ffffff;  
}
.smallcontainer {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translateX(-50%) translateY(-50%);
    /* background-color: #8ac760; */ 
}
.container {
    position: absolute;
    top: 30%;
    left: 12%;
  /*  transform: translateX(-50%) translateY(-50%); */
    background-color: #8ac760;  
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto 
    }
    
.image {
   padding:1px;
   border:1px solid #ffffff;
}

.item{
   border:3px solid #8ac760;
}

.left1 {
    position: absolute;
    left: 0px;
}

.left {
    float: left;
}

.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

/** page structure **/
.chatContainer {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 600px;
}
 
 
.datestamp {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  color: #8b91a0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}
 
 
/** ios1-ios6 bubbles **/
.bubble {
  box-sizing: border-box;
  float: right;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
 
  background: #95c2fd;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #bee2ff), color-stop(1, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #8ac760 15%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #bee2ff 15%, #ffffff 100%);
  background-image: -ms-linear-gradient(bottom, #bee2ff 15%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #bee2ff 15%, #ffffff 100%);
  background-image: linear-gradient(bottom, #bee2ff 15%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#95c2fd', endColorstr='#bee2ff');
 
  border: solid 1px rgba(0,0,0,0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
 
  -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  padding: 6px 20px;
  color: #000;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
  word-wrap: break-word;
}

.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}
